.jumbotron.text-center
  %h1 Welcome to Commonplace

  %p.lead Commonplace is a tool for integrating your digital and analog lives.
  %p
    = link_to 'Sign up', new_user_path, class: 'btn btn-primary btn-lg'
    = link_to 'Log in', root_path, class: 'btn btn-primary btn-lg'
